* {
    margin: 0;
    padding: 0;    
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    color: #fff;
    background: #15161B;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 3%;
}

header h1 {
    font-size: 3em;
    text-transform: uppercase;
}

.container {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 3% 4%;    
    margin-bottom: 3em;
}

.display {
    width: 100%;
    margin-right: 2%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.displayInfo { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #278ed3;
    text-align: center;
}

.displayInfo span:nth-child(1) {
    font-size: 5em;
    font-weight: 700;
    color: #404040;
}

.displayInfo span:nth-child(2) {
    font-size: 1em;
    color: #FFF;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer h1 {
    font-size: 3em;
    margin-bottom: 3%;
}

.footer span {
    font-size: 1.5em;
}
/* 
@media screen and (max-width: 768px) {
    body .conteudo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        top: 15rem;
        bottom: 0;
        left: 15rem;
    }
} */

