* {
    margin: 0;
    padding: 0;    
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    color: #fff;
    background: #15161B;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 3%;
}

header h1 {
    font-size: 3em;
    text-transform: uppercase;
}

.container {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 2% 4%;    
    margin-bottom: 1%;
}

.display {
    width: 100%;
    border-radius: 5px;
    margin-right: 2%;
    display: flex;    
    justify-content: center;
    flex-direction: column;
    padding: 2% 3%;
}

.displayInfo { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #278ed3;
    text-align: center;
}

.displayInfo span:nth-child(1) {
    font-size: 5em;
    font-weight: 700;
    color: #404040;
}

.displayInfo span:nth-child(2) {
    font-size: 1em;
    color: #FFF;
}

#diasRestantes {
    color:#A82A28;
    
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer h1 {
    font-size: 3em;
    margin-bottom: 1%;
}

.footer span {
    font-size: 1.5em;
}
 
@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 3% 4%;    
        margin-bottom: 3em;
    }

    .display {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 2%;
        display: flex;    
        justify-content: center;
        flex-direction: column;
        padding: 2% 3%;

    }

    .footer h1 {
        font-size: 2em;
        margin-bottom: 2%;
    }
    
} 

